@using Campus.Common
@model PublicProfile

@{
    ViewBag.Title = "Конференції, виставки - " + Model.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="/Scripts/profile_subpages.js"></script>
}

@section jumbotron{
    <div class="part-header" style="background-image: url('@ViewBag.Header')">
    </div>
}

<div class="row profile">
    <div class="col-md-3">
        <a href="./" title="Перейти на сторінку викладача" class="thumbnail profile-image">
            <img src="@Model.Photo" alt="@Model.FullName">
        </a>
        @if (!String.IsNullOrEmpty(Model.Credo))
        {
        <h5 class="credo">@Model.Credo</h5>
        }
    </div>

    <div class="col-md-9">
        <div class="panel panel-default">
            <h2 class="lecturer_name"><a href="./" title="Перейти на сторінку викладача">@Model.FullName</a></h2>
            <div class="panel-heading">
                <h3 class="panel-title">Загальна інформація</h3>
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-hover table-striped common_info not_strong">
                    @Html.Partial("RecordPartialView", new Record("Науковий ступень", Model.AcademicDegree))
                    @Html.Partial("RecordPartialView", new Record("Наукові інтереси", Model.GetField("ScientificInterest")))
                    @Html.Partial("RecordPartialView", new Record("Вчене звання", Model.AcademicStatus))
                </table>

                <table class="table table-responsive table-hover table-striped workplace not_strong">
                @{
                    string firstColumnContent = "Дані за місцем роботи (підрозділ(-и), посада(-и))";
                    foreach (var position in Model.Positions)
                    {
                         <tr>
                             <td class="workplace_data">@firstColumnContent</td>
                             <td>
                                 <a href="@position.Subdivision.Url">@position.Subdivision.Name</a>
                             </td>
                             <td>
                                 @position.Name
                             </td>
                         </tr>
                         firstColumnContent = "";
                    }
                }
                </table>
            </div>
        </div>
    </div>
</div>

<div class="profile subpage_content panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Наукова діяльність</h3>
	</div>

	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li id="execution_subsection">
				<a href="execution">Виконання НДДКР</a>
			</li>
			<li id="results_subsection">
				<a href="results">Результати виконання НДДКР</a>
			</li>
			<li id="publications_subsection">
				<a href="publications">Публікації</a>
			</li>
			<li id="conference_subsection" class="active">
				<a href="conference">Конференції, виставки</a>
			</li>
		</ul>

		<div class="tab-pane" id="subpage_content"></div>
	</div>
 </div>