@model Site.Models.HomeViewModel
@{
    ViewBag.Title = "Новини";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jumbotron{

    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->

        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Slides.Count(); i++)
            {
                if (i == 0)
                {
                    <li data-target="#carousel" data-slide-to="@i" class="active"></li>
                }
                else
                {
                    <li data-target="#carousel" data-slide-to="@i"></li>
                }
            }

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @for (int i = 0; i < Model.Slides.Count(); i++)
            {
                var active = i == 0 ? "active" : String.Empty;

                var slide = Model.Slides.ElementAt(i);

                <div class="item @active">
                    <img src="@slide" alt="Slider image" />
                </div>
            }
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}

<div class="row search-panel">
    <div class="col-md-3 height-x">
        <a href="#search-form-position" onclick="return showSearchTab('#search-default')">
            <img class="img-circle" src="/Images/search-default.png" alt="Пошук спiвробiтникiв">
            <span>Загальний пошук спiвробiтникiв</span>
        </a>
    </div>
    <div class="col-md-3 height-x">
        <a href="#search-form-position" onclick="return showSearchTab('#search-subdivision')">
            <img class="img-circle" src="/Images/search-subdivision.png" alt="Пошук за кафедрами та факультетами">
            <span>Пошук за кафедрами<br /> та факультетами</span>
        </a>
    </div>
    <div class="col-md-3 height-x">
        <a href="#search-form-position" onclick="return showSearchTab('#search-alphabet')" title="">
            <img class="img-circle" src="/Images/search-alphabet.png" alt="Алфавітний покажчик">
            <span>Алфавітний покажчик</span>
        </a>
    </div>
    <div class="col-md-3 height-x">
        <a href="#search-form-position" onclick="return showSearchTab('#search-interests')">
            <img class="img-circle" src="/Images/search-interests.png" alt="Пошук за інтеpeсами">
            <span>Пошук за інтеpeсами</span>
        </a>
    </div>
</div>

<div class="row" id="science_news">
    <div class="col-md-12">
        <h1 title="Показати/приховати новини">Наукові новини</h1>
        <div id="science_news_content">
            @Html.Raw(Model.Publication.Content)
        </div>
        <script>
            $(function () {
                $("#science_news h1").click(function () {
                    $("#science_news_content").toggle();
                });
            });
        </script>
        <div class="clear"></div>
    </div>
</div>


<a name="search-form-position"></a>
<form class="row search hidden" id="search-default" action="/search" role="search">
    <div class="col-md-12">
        <h2>Загальний пошук спiвробiтникiв</h2>
        <div class="line"></div>
        <input type="search" name="q" id="search-default-input" class="form-control typeahead" placeholder="Введiть ПІБ особи... (наприклад: ПЕТРОВ ПЕТРО ПЕТРОВИЧ)">
        <div class="line"></div>
        <input type="submit" class="search_btn_hidden" />
    </div>
</form>

<div class="row search hidden" id="search-alphabet">
    <div class="col-md-12 alphabet">
        @Html.Partial("AlphabetPartialView")
    </div>
</div>

<form class="row search hidden" id="search-subdivision" action="/search" role="search" onsubmit="setPrefix('subdivision-search-input', 'subdivision')">
    <div class="col-md-12">
        <h2>Пошук за кафедрами та факультетами</h2>
        <div class="line"></div>
        <input type="search" name="q" id="subdivision-search-input" class="form-control typeahead" placeholder="Введiть назву пiдроздiлу... (наприклад: Кафедра технiчної кiбернетики ФІОТ)">
        <div class="line"></div>
        <input type="submit" class="search_btn_hidden" />
    </div>
</form>

<form class="row search hidden" id="search-interests" action="/search" role="search" onsubmit="setPrefix('interests-serch-input', 'interests')">
    <div class="col-md-12">
        <h2>Пошук за інтеpeсами</h2>
        <div class="line"></div>
        <input type="search" name="q" class="form-control typeahead" placeholder="Введiть інтереси для пошуку..." id="interests-serch-input">
        <div class="line"></div>
        <input type="submit" class="search_btn_hidden" />
    </div>                                               
</form>